# ── Servidor ──────────────────────────────────────────────────────────────────
# example: 3001
PORT=
# example: development
NODE_ENV=
# example: mongodb://localhost:27017/caixinha
MONGODB_URI=
# example: http://localhost:5173
CORS_ORIGIN=
# example: http://localhost:3001
VITE_API_URL=
